[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
    ignore = untracked
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
    ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = untracked
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
    ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
    ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
    ignore = untracked
[submodule "bundle/lusty-explorer"]
	path = bundle/lusty-explorer
	url = https://github.com/vim-scripts/LustyExplorer.git
    ignore = untracked
[submodule "bundle/vim-youdao"]
	path = bundle/vim-youdao
	url = https://github.com/ianva/vim-youdao-translater
    ignore = untracked
[submodule "bundle/vimtip"]
	path = bundle/vimtip
	url = https://github.com/tobyS/vimtip.git
    ignore = untracked
[submodule "bundle/vim-doxygentoolkit"]
	path = bundle/vim-doxygentoolkit
	url = https://github.com/mrtazz/DoxygenToolkit.vim.git
    ignore = untracked
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
    ignore = untracked
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = untracked
[submodule "bundle/vim-zencoding"]
	path = bundle/vim-zencoding
	url = https://github.com/mattn/zencoding-vim.git
    ignore = untracked
[submodule "bundle/vim-mark"]
	path = bundle/vim-mark
	url = https://github.com/dimasg/vim-mark.git
    ignore = untracked
[submodule "bundle/vim-neocomplcache"]
	path = bundle/vim-neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim.git
    ignore = untracked
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
    ignore = untracked
[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
    ignore = untracked
[submodule "bundle/vim-indentLine"]
	path = bundle/vim-indentLine
	url = https://github.com/Yggdroot/indentLine.git
    ignore = untracked
[submodule "bundle/vim-trailing-whitespace"]
	path = bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
    ignore = untracked
[submodule "bundle/vim-rainbow-parentheses"]
	path = bundle/vim-rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
    ignore = untracked
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
    ignore = untracked
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
    ignore = untracked
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/sjl/gundo.vim
    ignore = untracked
[submodule "bundle/vim-python-mode"]
	path = bundle/vim-python-mode
	url = https://github.com/klen/python-mode
    ignore = untracked
[submodule "bundle/php-indent"]
	path = bundle/php-indent
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
    ignore = untracked
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
    ignore = untracked
[submodule "bundle/vim-ag"]
	path = bundle/vim-ag
	url = https://github.com/rking/ag.vim
    ignore = untracked
[submodule "bundle/vim-debug"]
	path = bundle/vim-debug
	url = https://github.com/joonty/vdebug
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
